/Public_Speaking/Intermediate
/Public_Speaking/Saved/Telemetry/Telemetry.json
/Public_Speaking/Saved/Logs
/Public_Speaking/Plugins/PiperCLI-Unreal/ThirdParty/Piper
*.log
/Public_Speaking/Saved/webcache_4430
/Public_Speaking/Saved/Crashes
/Public_Speaking/Saved/Config/CrashReportClient
/Public_Speaking/Plugins/SocketIOClient/Intermediate/Build
/Public_Speaking/Saved/Logs
/Public_Speaking/Saved/Telemetry
/Public_Speaking/Saved/Logs
Public_Speaking/Binaries/Win64/UnrealEditor-Public_Speaking.dll
Public_Speaking/Binaries/Win64/UnrealEditor-Public_Speaking.pdb
